ok now there is one conflic can  be happen like login screeen is ask for bond name and it shows at the welcomsection widget in the dashbord screen which is carlousel slider,
and buildappbar get the bond name from the profile screen 
so i want to you connect the all threee profile,login,dashboard screen to only fetch the bond name from the profle screeen,
if the login sceen user add the bond name then it update it fo the profile section and dashboard two widget buildapp bar and welcomsection fetch the name ,

2nd issue there love streak features give your suggestion in it what contetn we add in this 
3rd bucket list,futureplaning,love languize quiz,grwoth timeline,couple challanmges,daily love lanuage 
make all of them seperate md file 
add content ,extra engeage ment features,yoru suggestions,your idea,how we can make these all of the couples who can build there relationships so strong,fun,engaing,sad,love,romance,future ,

because i dont my home screeen look like the dummy ui ,



read the lib folder again and find there si already hive,sharedpref,firebase service so i want only threee service related to the storage but i think you create so many seperate copies of the storage services which is not needed so review them all services make it consloidated if any require method i mean if require then move the methods into needned class then  delete it 
in the whole project only there 3 storage service ,
then review lib folder and delete the unsued classes but carefully check,
